* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 218, 218);
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nik {
    font-size: 48px;
    color: rgb(247, 203, 7);
    font-family: cursive;
    cursor: pointer;

}

.nik:active {
    color: black;
}



.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}



.rasm {
    position: absolute;
    width: 520px;
    height: 400px;
    top: 50px;
    background-image: url(my\ logo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    border: 3px solid rgb(153, 0, 255);
}

.fa-brands {
    font-size: 30px;

}

.tg {
    position: absolute;
    right: 150px;
    list-style: none;
    font-family: serif;
}

.gt {
    text-decoration: none;
    color: black;
}

.in {
    font-family: serif;
    position: absolute;
    list-style: none;
    left: 150px;
}

.ni {
    text-decoration: none;
    color: rgb(214, 92, 184);
}

.yt {
    list-style: none;

}

.ty {
    text-decoration: none;
    color: red;
    font-family: serif;
}

.tl {
    text-decoration: none;
    position: absolute;
    top: 460px;
    font-family: sans-serif;
    color: green;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: rgb(255, 255, 255);
    }

    .rasm {
        width: 400px;
        margin-left: 50px;
        height: 300px;
    }

    .tl {
        position: absolute;
        top: 360px;
    }

    .nik {
        font-size: 35px;
    }

    .gt{
       
        font-size: 10px;
        position: relative;
        left: 25px;
        bottom: 1px;
    }

    .ni {
        font-size: 10px;
        position: relative;
        bottom: 56px;
        right: 22px;
    }

    .ty {
        font-size: 10px;
        position: relative;
        bottom: 30px;
    }
}